#!/bin/sh

echo "
export JAVA_HOME=/home/jdk
export PATH=\$JAVA_HOME/bin:$PATH 
export CLASSPATH=.:\$JAVA_HOME/lib/dt.jar:\$JAVA_HOME/lib/tools.jar
">>/home/.bashrc

rm -rf /home/jdk.tar

source /home/.bash_profile
source /home/.bashrc

java -version 2>&1
